[submodule "JUCE"]
	path = JUCE
	url = https://github.com/juce-framework/JUCE
[submodule "min-api"]
	path = Max/source/min-api
	url = https://github.com/Cycling74/min-api.git
[submodule "min-lib"]
	path = Max/source/min-lib
	url = https://github.com/Cycling74/min-lib.git
